# Logs
logs
*.log
npm-debug.log*

# Dependency directories
**node_modules/

# Linters and Formatters
.eslintrc.js
.eslintignore
.eslintcache
.prettierrc.js
.prettierrc.json
.prettierignore
.editorconfig
.stylelintrc.js
.stylelintignore
.stylelintcache

# VSCode
.vscode/

# Next.js
.next/

# Wakatime
.wakatime**

# Local template files
**.template.**
**collections/

# Local config files
**.config.**
**.env.**

# Unnecessary files
README.md
.gitignore