# dependencies
/node_modules

# vscode
.vscode

# next.js
/.next/
/out/
.open-next

# vercel
.vercel

# testing
/coverage

# production
/build

# misc
.env*
!.env.example

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# next-pwa
public/sw.js
public/sw.js.map
public/workbox-*.js